* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;

}

/*图标字体*/
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?9hq0xy');
    src: url('fonts/icomoon.eot?9hq0xy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9hq0xy') format('truetype'),
    url('fonts/icomoon.woff?9hq0xy') format('woff'),
    url('fonts/icomoon.svg?9hq0xy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-file-text:before {
    content: "\e922";
}

.icon-circle-left:before {
    content: "\ea44";
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    background-color: #91D4DA;
    height: 2.5rem;
    color: #ffffff;
    line-height: 2.5rem;
    overflow: auto;
    z-index: 99;
}

header .back {
    display: inline-block;
    position: absolute;
    left: 5px;
}

header .title {
    margin: auto;
}

nav {
    margin-top: 2.5rem;
    clear: both;
    height: 2.5rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav li {
    display: block;
    height: 2.5rem;
    line-height: 2.5rem;
    flex: 1;
    text-align: center;
    box-sizing: border-box;
}

nav li.active {
    border-bottom: solid 3px #91D4DA;
}
.divide {
    width: 90%;
    border-top: 1px solid #cccccc;
    margin: 0 auto;
    padding: 10px 0;
}

.banner img {
    width: 100%;
}

.tags {
    display: flex;
    justify-content: space-around;

}

.tag {
    text-align: center;
}

.tag .icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: #ffffff;
    background-color: #00C7D6;
    display: flex;
    margin: 1rem 0;
}

.tag .icon .icon-file-text {
    font-size: 1.5rem;
    margin: auto;
}

.columns {
    margin: 1rem 0.5rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-top: solid 1px #cccccc;
    padding-top: 1rem;
}

.columns .column {
    border-right: solid 1px #cccccc;
    flex: 1;
}

.columns .column:last-child {
    border: 0;
}

.columns .img-container {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.columns img {
    width: 4rem;
    z-index: 3;
}

.columns .shadow {
    display: block;
    width: 3rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: rgb(232, 236, 239);
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.columns .wide-img {
    width: 6rem;
}

.columns h4 {
    font-weight: 500;
    color: #666;
}

.divider {
    border: none;
    height: 1rem;
    background-color: #f5f5f5;
}

.module {
    margin: 0.5rem;
}

.module-header {
    height: 2.2rem;
    line-height: 2rem;
    border-bottom: solid 1px #cccccc;
}

.media {
    margin: 1rem 0;
    display: flex;
}

.media .img-container {
    min-width: 6rem;
    height: 6rem;
    background-color: #FBF6D9;
    border: solid 1px #FABF57;
    display: flex;
    justify-content: cent er;
    align-items: flex-end;
    box-sizing: border-box;
}

.media img {
    width: 5rem;
    height: 5rem;
}

.media .descs {
    flex: 1;
    display: flex;
    height: 6rem;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
}

.media .descs .desc {
    text-align: center;
    width: 40%;
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: #f8f8f8;
}

.article {
    padding: 1rem;
    display: flex;
    border-bottom: solid 2px #cccccc;
}

.article img {
    max-height: 6rem;
    margin-right: 1rem;
}

.article .article-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.article .article-info h3 {
    width: 100%;
    font-weight: normal;
}

.article .article-info span {
    color: #aaaaaa;
    align-self: flex-end;
}

.article .article-info .time {
    margin-left: 1rem;
}

.pic-article {
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    box-sizing: border-box;
}

.pic-article > * {
    width: 100%;
}

.pic-article .pics {
    display: flex;
    justify-content: space-between;
}

.pic-article .pics img {
    max-height: 25vw;
    max-width: 30vw;
}

.pic-article .info {
    color: #aaaaaa;
}

.pic-article .info .time {
    margin-left: 1rem;
}

.end {
    height: 4rem;
    border: none;
    background-color: #f5f5f5;
}