.flex-container {
    display: flex;
    padding: 20px;
    border: 1px solid #999;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.flex-container>div {
    width: 150px;
    border: 1px solid #a1e;
    margin-bottom: 10px;
}

.flex-container>div:nth-child(1) {
    height: 200px;
}
.flex-container>div:nth-child(2) {
    height: 150px;
}
.flex-container>div:nth-child(3) {
    height: 100px;
}
.flex-container>div:nth-child(4) {
    height: 250px;
    border: 1px solid #ccc;
}

@media (max-width: 650px) {
    .flex-container>div:nth-child(4) {
        order: -1;
    }
}